*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end gutter-start] minmax(6rem, 1fr) [container-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [container-end] minmax(6rem, 1fr) [gutter-end]; }

.heading-1 {
  font-weight: 400; }

.heading-2 {
  font-weight: 400; }

.heading-3 {
  font-weight: 400; }

.heading-4 {
  font-weight: 400;
  font-size: 1.9rem; }

.sidebar {
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  background-color: #c69963; }

.header {
  background-color: #54483A;
  grid-column: gutter-start / col-end 6; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7 / gutter-end; }

.features {
  background-color: orchid;
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.story__content {
  background-color: #aaa;
  grid-column: col-start 5 / gutter-end; }

.story__pictures {
  background-color: #B28451;
  grid-column: gutter-start / col-end 4; }

.homes {
  background-color: orangered;
  grid-column: container-start / container-end; }

.gallery {
  background-color: #54483A;
  grid-column: gutter-start / gutter-end; }

.footer {
  background-color: #101d2c;
  grid-column: gutter-start / gutter-end; }
