*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 80px [sidebar-end gutter-start] 1fr [container-start] repeat(8, minmax(min-content, 141px)) [container-end] 1fr [gutter-end]; }

.heading-1 {
  font-weight: 400; }

.heading-2 {
  font-weight: 400; }

.heading-3 {
  font-weight: 400;
  font-size: 1.9rem; }

.heading-4 {
  font-weight: 400; }

.sidebar {
  grid-row: 1/-1;
  background-color: #c69963; }

.features {
  grid-column: container-start / container-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, minmax(30rem, min-content));
  background-color: red; }
