*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end gutter-start] minmax(6rem, 1fr) [container-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [container-end] minmax(6rem, 1fr) [gutter-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #c69963;
  grid-row: 1/-1; }

.header {
  background-color: orangered;
  grid-column: gutter-start / col-end 6;
  grid-row: 1 / 2; }

.realtors {
  background-color: plum;
  grid-column: col-start 7 / gutter-end;
  grid-row: 1 / 2; }

.feature__wrapper {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));
  grid-gap: 6rem;
  margin: 15rem 0;
  align-items: start; }
  .feature__wrapper .features {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem; }
    .feature__wrapper .features__icon {
      font-size: 4.5rem;
      grid-row: 1 / span 2;
      color: #c69963;
      transform: translateY(-2rem); }
    .feature__wrapper .features .features__text {
      font-size: 1.7rem; }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / gutter-end;
  grid-row: 3/4;
  display: grid;
  align-content: center;
  justify-content: start;
  padding: 6rem 8vw; }
  .story__content .heading-2 {
    color: #54483A; }
  .story__content .story__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem; }

.story__pictures {
  grid-column: gutter-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  .story__pictures .story__img-1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    align-self: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  .story__pictures .story__img-2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 4 /7;
    z-index: 1;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }

.homes {
  grid-column: container-start / container-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 15rem 0;
  grid-gap: 6rem; }

.home__box {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .home__box .home-img {
    grid-column: 1 / -1;
    grid-row: 1/2; }
    .home__box .home-img img {
      width: 100%;
      height: 100%; }
  .home__box .home-description {
    grid-column: 1 / -1;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px; }
    .home__box .home-description li {
      font-size: 1.5rem; }
  .home__box .home-title {
    background-color: #101d2c;
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: end;
    width: 80%;
    font-size: 1.6rem;
    padding: 1.5rem;
    text-align: center;
    justify-self: center;
    color: #fff;
    transform: translateY(50%); }
  .home__box button {
    grid-row: 2/3;
    grid-column: 1/-1;
    align-self: end; }

.gallery {
  background-color: #f9f7f6;
  grid-column: gutter-start / gutter-end;
  display: grid;
  grid-template-rows: repeat(7, 5vw);
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-row: 1/3;
    grid-column: 1/3; }
  .gallery__item--2 {
    grid-row: 1/4;
    grid-column: 3/6; }
  .gallery__item--3 {
    grid-row: 1/3;
    grid-column: 6/7; }
  .gallery__item--4 {
    grid-row: 1/3;
    grid-column: 7/-1; }
  .gallery__item--5 {
    grid-row: 3/6;
    grid-column: 1/3; }
  .gallery__item--6 {
    grid-row: 4/6;
    grid-column: 3/5; }
  .gallery__item--7 {
    grid-row: 4/5;
    grid-column: 5/6; }
  .gallery__item--8 {
    grid-row: 3/5;
    grid-column: 6/-2; }
  .gallery__item--9 {
    grid-row: 3/6;
    grid-column: -2/-1; }
  .gallery__item--10 {
    grid-row: 6/8;
    grid-column: 1/2; }
  .gallery__item--11 {
    grid-row: 6/8;
    grid-column: 2/4; }
  .gallery__item--12 {
    grid-row: 6/8;
    grid-column: 4/5; }
  .gallery__item--13 {
    grid-row: 5/8;
    grid-column: 5/-2; }
  .gallery__item--14 {
    grid-row: 6/8;
    grid-column: -2/-1; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }

.footer {
  background-color: #101d2c;
  grid-column: gutter-start / gutter-end;
  padding: 8rem; }
  .footer .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 2rem;
    align-items: center;
    list-style: none; }
    .footer .nav__link {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: 1.5rem;
      text-align: center;
      display: block;
      background-color: rgba(255, 255, 255, 0.05); }
