.footer{
<<<<<<< HEAD
    background-color: $color-secondary;
=======
    background-color: rebeccapurple;
>>>>>>> e8c80ea833f939a9732e1a06f8b2bfce2363150d
    grid-column: gutter-start / gutter-end;
}