.gallery{
<<<<<<< HEAD
    background-color: $color-grey-dark-1;
=======
    background-color: steelblue;
>>>>>>> e8c80ea833f939a9732e1a06f8b2bfce2363150d
    grid-column: gutter-start / gutter-end;
}