.homes{
<<<<<<< HEAD
    background-color: orangered;
    grid-column: container-start / container-end;
=======
    grid-column: container-start / container-end;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin: 15rem 0;
}
.home__box{
    background-color: $color-grey-light-1;
    & .home-img img{
        width: 100%;
    }
    & .home-title{
        background-color: $color-secondary;
    }
>>>>>>> e8c80ea833f939a9732e1a06f8b2bfce2363150d
}