.realtors{
<<<<<<< HEAD
    background-color: $color-secondary;
    grid-column: col-start 7 / gutter-end;
=======
    background-color: plum;
    grid-column: col-start 7 / gutter-end;
    grid-row: 1 / 2;
>>>>>>> e8c80ea833f939a9732e1a06f8b2bfce2363150d
}